In [1]:
import pandas as pd 
df = pd.read_csv('gender_classification_v7.csv')
print(df)

      long_hair  forehead_width_cm  forehead_height_cm  nose_wide  nose_long  \
0             1               11.8                 6.1          1          0
1             0               14.0                 5.4          0          0
2             0               11.8                 6.3          1          1
3             0               14.4                 6.1          0          1
4             1               13.5                 5.9          0          0
...         ...                ...                 ...        ...        ...
4996          1               13.6                 5.1          0          0
4997          1               11.9                 5.4          0          0
4998          1               12.9                 5.7          0          0
4999          1               13.2                 6.2          0          0
5000          1               15.4                 5.4          1          1

      lips_thin  distance_nose_to_lip_long  gender
0             1                          1    Male
1             1                          0  Female
2             1                          1    Male
3             1                          1    Male
4             0                          0  Female
...         ...                        ...     ...
4996          0                          0  Female
4997          0                          0  Female
4998          0                          0  Female
4999          0                          0  Female
5000          1                          1    Male

[5001 rows x 8 columns]

In [2]:
df.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

In [3]:
df.tail()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [4]:
# from sklearn.preprocessing import LabelEncoder
# cols = ['gender']
# le = LabelEncoder()
# for c in cols:
#     df[c]=le.fit_transform(df[c])
# df.head()

In [5]:
x=df.drop(['gender'] ,axis=1)
y=df['gender']
x

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
0,1,11.8,6.1,1,0,1,1
1,0,14.0,5.4,0,0,1,0
2,0,11.8,6.3,1,1,1,1
3,0,14.4,6.1,0,1,1,1
4,1,13.5,5.9,0,0,0,0
...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0
4997,1,11.9,5.4,0,0,0,0
4998,1,12.9,5.7,0,0,0,0
4999,1,13.2,6.2,0,0,0,0
5000,1,15.4,5.4,1,1,1,1

In [6]:
print(y)

0         Male
1       Female
2         Male
3         Male
4       Female
         ...
4996    Female
4997    Female
4998    Female
4999    Female
5000      Male
Name: gender, Length: 5001, dtype: object

In [7]:
print(x)

      long_hair  forehead_width_cm  forehead_height_cm  nose_wide  nose_long  \
0             1               11.8                 6.1          1          0
1             0               14.0                 5.4          0          0
2             0               11.8                 6.3          1          1
3             0               14.4                 6.1          0          1
4             1               13.5                 5.9          0          0
...         ...                ...                 ...        ...        ...
4996          1               13.6                 5.1          0          0
4997          1               11.9                 5.4          0          0
4998          1               12.9                 5.7          0          0
4999          1               13.2                 6.2          0          0
5000          1               15.4                 5.4          1          1

      lips_thin  distance_nose_to_lip_long
0             1                          1
1             1                          0
2             1                          1
3             1                          1
4             0                          0
...         ...                        ...
4996          0                          0
4997          0                          0
4998          0                          0
4999          0                          0
5000          1                          1

[5001 rows x 7 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=100)
X_train.shape

In [ ]:
X_test.shape

In [ ]:
y_train.shape

In [ ]:
y_test.shape

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
clf=KNeighborsClassifier()
clf.fit(X_train,y_train)

In [ ]:
y_pred=clf.predict(X_test)
y_pred

In [ ]:
y_pred.shape

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

In [ ]:
new_data=[[1,11.8,6.1,1,0,1,1]]
y_pred=clf.predict(new_data)
y_pred